{% extends 'base/main.html' %} 
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="https://kit.fontawesome.com/800bf72935.js" crossorigin="anonymous"></script>

<div class="sidebar" id="sidebar">
    {% include 'base/sidebar.html' %}
</div>

<div class="body-color">
    <div>
        <h1>Event Planner</h1>
    </div>
    <div id="search-add-wrapper">
        <form method="GET" style="display: flex;">
            <input type='text' name='search-area' placeholder="Search your task" value="{{search_input}}">
            <input class="searchbutton" type="submit" value='Search'>
        </form>
        {% if event|length > 0 %}
        <a id="add-link" href="{% url 'school-create' %}">&#x2b;</a>
        {% endif %}
    </div>

    <!-- Hidden form. Form submits new item positions -->
    <form style="display: none;" id="reorderForm" method="post" action="{% url 'school-reorder' %}">
        {% csrf_token %}
        <input type="hidden" id="positionInput" name="position">
    </form>

    <div id="tasklist" class="task-items-wrapper">
        {% for task in tasks %}
        <div class="task-wrapper" data-position="{{task.pk}}">
            <div class="task-title">
                {% if task.complete %}
                <div class="task-complete-icon"></div>
                <i><s><a href="{% url 'school-update' task.id %}">{{task}}</a></s></i> {% else %}
                <div class="task-incomplete-icon"></div>
                <a href="{% url 'school-update' task.id %}">{{task}}</a> {% endif %}
            </div>
            <div class="task-controls">
                <a class="delete-link" href="{% url 'school-delete' task.id %}">&#215;</a>
                <span class="handle">&nbsp;&#10247;</span>
            </div>
        </div>

        {% empty %}
        <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
            <h3>No new tasks are created.</h3>
            <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'school-create' %}">New task</a> ! </h3>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    var taskList = document.getElementById("tasklist");
    var reorderForm = document.getElementById("reorderForm");
    var positionInput = document.getElementById("positionInput");

    let sortable = Sortable.create(taskList, {
        handle: '.handle',
        ghostClass: 'dropArea',
        chosenClass: 'selectedTask',

    });

    function reordering() {
        const rows = document.getElementsByClassName("task-wrapper");
        let pos = [];
        for (let row of rows) {
            pos.push(row.dataset.position);
        }
        console.log(pos.join(","))
        positionInput.value = pos.join(',');
        reorderForm.submit();
    }

    document.ondrop = reordering
</script>

<script>
    // Load the saved color or use a default color
    const savedColor = localStorage.getItem('headerBarColor');
    const sidebar = document.getElementById('sidebar');
    sidebar.style.backgroundColor = savedColor || '#12b8ce';

    function toggleColorOptions() {
        const colorOptions = document.getElementById('colorOptions');
        colorOptions.style.display = colorOptions.style.display === 'none' ? 'block' : 'none';
    }

    function changeHeaderColor(color) {
        sidebar.style.backgroundColor = color;
        localStorage.setItem('headerBarColor', color);
        // Optionally, hide the color options after a color is selected
        document.getElementById('colorOptions').style.display = 'none';
    }
    function toggleSidebar() {
            const sidebar = document.querySelector('.sidebar');
            sidebar.classList.toggle('show');
        }
    function toggleDropdown(dropdownId) {
        var dropdown = document.getElementById(dropdownId + 'Dropdown');
        dropdown.style.display = (dropdown.style.display === 'block') ? 'none' : 'block';
    }    
</script>

{% endblock content %}
